* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

header {
    background-color: #73b4ff;
    padding: 20px 2%;
    display: flex;
    justify-content: space-between;
}

.logo {
   margin-top: 8px; 
}

.logo h3 {
    cursor: pointer;
}

.logo h3:hover {
    opacity: 0.7;
}

.info-header {
    color: white;
    display: flex;
}

.icons-header svg {
    cursor: pointer;
}

.icons-header svg:hover {
    opacity: 0.7;
}

.icons-header {
    margin-top: 8px;
}

.info-header img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 8px;
}

.icons-header svg {
    margin: 0 10px;
}

.icons-header {
    margin-left: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.sidebar {
    width: 20%;
    background-color: white;
    height: 100%;
}

.sidebar a.sidebar-active {
    border-left: 4px solid #73b4ff;
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a.sidebar-active > svg{
    color: #777;
}

.sidebar h3 {
    color: #333;
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #444;
}

.sidebar a:hover {
    border-left: 4px solid #73b4ff;
    background-color: rgb(245, 245, 245);
    color: #777;
    font-weight: bold;
}

.sidebar a:hover .sidebar a > svg {
    color: #777;
}

.sidebar a > svg {
    color: #444;
}

.content {
    width: 80%;
    background-color: rgb(245, 245, 245);
    padding: 20px;
}

.titulo-secao {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.titulo-secao h2 {
    font-size: 19px;
}

.titulo-secao p {
    font-size: 14px;
}

.titulo-secao svg {
    color: #73b4ff;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgb(240, 240, 240);
}

.box-info {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.box-info-single {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin: 0 10px;
    padding: 30px;
}

.box-info-single svg {
    font-size: 25px;
}

.feed {
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 30px;
}

.feed-single {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.feed-text {
    display: flex;
}

.feed-text span{
    color: black;
    display: inline-block;
    margin: 5px;
}

.feed-text .circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #c3dfff;
    position: relative;
}

.feed-text svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #73b4ff;
}

.feed-time {
    color: #444;
}